html,
body {
	margin: 0;
	height: 100%;
}

#map {
	position: absolute;
	top: 10%;
	width: 80%;
	height: 50%;
}

.overlay {
	display: flex;
	flex-direction: column;
	background: white;
	border-radius: 15px;
	padding: 15px;
	max-width: 250px;
	overflow: overlay;
	text-overflow: clip;
}

.overlay > div {
	font-size: 12px;
}
